/* Warm_Wooly */
/* 12/19/25 v1.77 */

/* All */
* {
  transition: background-color 0.5s ease, transform 0.5s, backdrop-filter 0.5s;
  transform-origin: center center;
}

/* Website-wide rules */
html {
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: var(--shadeDark);
  font-size: var(--font16);
  word-wrap: break-word;
  font-family: var(--fontNormal);
}

/* Set link colors */
a {
  position: relative;
  text-decoration: none;
  transition: top 0.5s, left 0.5s
}

a:link {
  color: var(--linkBlue);
}

a:visited {
  color: var(--linkPurple);
}

.invalid {
  color: var(--linkRed) !important;
}

a:active {
  color: var(--linkActive) !important;
}

a:hover {
  text-decoration: underline;
}

/* Body Transformations */
#Body {
  transform-origin: center center;
  transition: transform 0.5s;
}

/* Update article width based on screen size */
#Article {
  width: var(--articleSize);
  height: 100%;
  margin: auto;
  float: left; /* Add this to make room for the sidebar */
}

#Sidebar {
  width: var(--sidebarSize); /* Set the width of the sidebar */
  height: 80%;
  float: left; /* Float it to the left */
  justify-content: center;
  text-align: center;
  margin-top: 35px;
}

@media (max-width: 800px) {
  #Sidebar {
    width: calc(100% - 27px) !important;
    height: 200px;
    display: block;
    position: absolute;
    z-index: 10;
    top: 20px;
  }
  
  #MovingSidebar {
    width: calc(100% - 27px) !important;
    height: 200px !important;
    display: float;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    border-radius: 6px;
    z-index: 4;
    box-shadow: 0 0 5px var(--white);
  }
  
  .hiddenSidebar {
    display: none !important;
  }
}

#MovingSidebar {
  position: fixed;
  width: var(--sidebarSize);
  direction: rtl;
  overflow: auto;
}

#MovingSidebar > * {
  direction: ltr; /* Set direction of children to left-to-right */
}

@media (max-width: 800px) {
  #Article {
    width: 100%;
    float: none; /* Remove the float on smaller screens to stack the elements */
  }
}

/* Create a line element */
.full-width-line {
  border: none; /* Remove default border */
  border-top: 1px solid var(--white); /* Add a top border to create the line */
  width: 100%; /* Set width to 100% to make it stretch across the screen */
  margin-top: 0px;
}

.stop-width-line {
  border: none; /* Remove default border */
  border-top: 1px solid var(--grayDark); /* Add a top border to create the line */
  flex-grow: 1;
  margin-top: 0px;
}

.thick-full-width-line {
  border: none; /* Remove default border */
  border-top: 3px solid var(--white); /* Add a top border to create the line */
  width: 100%; /* Set width to 100% to make it stretch across the screen */
  margin-top: 0px;
}

.date-line {
  border: none; /* Remove default border */
  border-top: 0px solid var(--grayDark); /* Add a top border to create the line */
  width: 100%; /* Set width to 100% to make it stretch across the screen */
  margin-top: 0px;
}
.date-line-real {
  border: none; /* Remove default border */
  border-top: 1px solid var(--grayDark); /* Add a top border to create the line */
  width: 100%; /* Set width to 100% to make it stretch across the screen */
  margin-top: 10px;
}

#Date {
  color: var(--grayDark);
}

#Footer {
  color: var(--grayDark);
}

.full-title {
  width: 100%;
  display: inline-block;
}

/* Remove bottom margin on title */
#Title {
  margin-bottom: 0px;
  font-size: var(--font30);
  font-family: var(--fontTitle);
  color: var(--title);
}

h3 {
  font-size: var(--font24);
  font-family: var(--fontTitle);
  color: var(--title);
}

.header {
  color: var(--title);
  margin-bottom: 0px;
}

.header3 {
  font-size: var(--font16);
  color: var(--title);
  margin-top: 8px;
}

h4 {
  margin-bottom: 0px;
  font-size: var(--font20);
}

hr + h4 { /* Removes top margin following a line */
  margin-top: 0;
}

/* Edit header items */
#Home {
  color: var(--title) !important;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--fontTitle);
}

#Content {
  width: 100%;
  height: 100%;
}

#SearchBar {
  width: var(--searchSize);
  display: var(--searchHidden) !important;
  margin: 0px;
}

#Header {
  width: "100%";
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  padding-right: 30px;
}

#HeaderPlaceholder {
  height: 100px;
}

.editPage {
  display: var(--hideEdit) !important;
}

.settingsPage {
  display: var(--hideSettings) !important;
}

.randomPage {
  display: default;
}

.jumpPage {
  display: default;
  font-size: var(--font12) !important;
}

.editPageButton {
  display: none !important;
}

.settingsPageButton {
  display: none !important;
}

.advancedSettings {
  display: var(--advancedSettings) !important;
}

.headerButton {
  margin: 0px;
  padding: 0px;
}

.disableSearchButton {
  margin: 0px;
  padding: 0px;
}

.enableSearchButton {
  margin: 0px;
  padding: 0px;
}

.imageButton {
  width: 35px;
  height: 35px;
}

.hideSmall {
  display: default;
}

.showSmall {
  display: none;
}

.showMedium {
  display: none !important;
}

.another10 {
  color: #42706d;
}

.another25 {
  color: #ab6116;
}

.another50 {
  color: #13acbd;
}

.another100 {
  color: #21a30d;
}

.another200 {
  color: #bd14c9;
}

.another500 {
  color: #a1a102;
}

@media (max-width: 1050px) {
  #SearchBar {
    max-width: 600px;
  }
}

@media (max-width: 850px) {
  #SearchBar {
    max-width: 400px;
  }
}

@media (max-width: 750px) {
  #SearchBar {
    max-width: 350px;
  }
}

@media (max-width: 650px) {
  #SearchBar {
    max-width: 350px;
  }
  
  #SearchBar:focus {
    max-width: 500px;
  }

  .hideSmall {
    display: none;
  }

  .showSmall {
    display: inline;
  }
}

@media (max-width: 800px) {
  .showMedium {
    display: inline !important;
  }

  .editPageButton {
    display: var(--hideEdit) !important;
  }

  .settingsPageButton {
    display: var(--hideSettings) !important;
  }
}

@media (max-width: 575px) {
  #SearchBar {
    max-width: 225px;
  }
  
  #SearchBar:focus {
    max-width: 375px;
  }
  
  #SearchBar.mobile {
    max-width: 375px;
  }
}

@media (max-width: 500px) {
  #SearchBar {
    max-width: 200px;
  }
  
  #SearchBar:focus {
    max-width: 400px;
  }
  
  #SearchBar.mobile {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  #SearchBar {
    max-width: 150px;
  }
  
  #SearchBar:focus {
    max-width: 300px;
  }
  
  #SearchBar.mobile {
    max-width: 300px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--shadeLight);
}

.searchContainer {
  position: relative;
}

li.searchList {
  border: none; /* Remove default border */
  border-bottom: 1px solid var(--grayDark); /* Add a bottom border to create the line */
  background-color: var(--shadeDark);
  color: var(--white);
  transition: background-color 0.2s ease;
  vertical-align: top;
  display: flex;
  align-items: center;
}

li.searchList:hover {
  background-color: var(--shadeLight);
}

.resultsList {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  margin: 0;
  background-color: var(--shadeDark);
  border: 1px solid var(--grayLight);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  z-index: 4;
  width: 95%;
  -webkit-user-select: none;
  user-select: none;
}

.showResults {
  display: block !important;
  color: var(--black);
}

/* Search list contents */
.searchText {
  display: flex;
  flex-direction: column;
}

.searchTitle {
  color: var(--white);
  font-size: var(--font16);
}

.searchShortText {
  color: var(--grayLight);
  font-size: var(--font14);
}

.searchImageBox {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 5px;
  flex-shrink: 0;
}

.searchImageDisam {
  border: solid var(--linkBlue) 2px;
  margin: 3px !important;
}

.searchImageGallery {
  border: solid var(--green) 2px;
  margin: 3px !important;
}

.searchImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hide the page creator */
#PageCrator {
  display: block;
}

.hidden {
  display: none !important;
}

/* Make image box */
.image {
  background-color: var(--shadeDarker);
  color: var(--white);
  border: 1px var(--white) solid;
  float: right;
  max-width: 200px;
  width: 200px;
  text-align: center;
  margin-right: 0px;
  margin-left: 5px;
  clear: right;
  overflow: hidden;
}

.infobox .image { /* Remove image margin within infobox */
  margin-left: 0;
}

.leftImage {
  float: left;
  clear: left;
  margin-right: 5px;
  margin-left: 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.galleryImage {
  float: none;
  clear: none;
  /*display: inline-block;*/
  vertical-align: top;
  width: 200px;
  margin: 0px;
}

.spanImage {
  float: none;
  clear: none;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}

.bigImage {
  max-width: 410px;
  width: 410px;
}

.smallImage {
  max-width: 100px !important;
  width: 100px !important;
}

.unexpandedImage {
  cursor: zoom-in;
}

.fullImage {
  width: 100% !important;
  max-width: 100% !important;
}

.brightImage {
  background-color: #FFFFFF !important;
}

.darkImage {
  background-color: #000011 !important;
}

.imageText {
  margin: 0px 5px;
}

img, video, iframe {
  width: 100%;
  filter: brightness(var(--dim));
}

.smallImg {
  width: 30px;
  height: 30px;
  float: var(--imageFloat);
  margin: auto;
  margin-right: var(--imageFloatRight);
  margin-left: var(--imageFloatLeft);
  border: 1px solid var(--white);
}

/* Make infobox */
.infobox {
  background-color: var(--shadeNormal);
  color: var(--white);
  border: 1px var(--shadeLight) solid;
  float: right;
  max-width: 300px;
  width: 200px;
  text-align: left;
  margin-right: 0px;
  margin-left: 5px;
  clear: right;
  overflow: hidden;
}

.infoboxTitle {
  text-align: center;
}

/* Make notice box */
.noticebox {
  border: 1px solid var(--grayDark);
  background-color: var(--shadeDarker);
  display: inline-flex;
  width: 80%;
  margin: 10px 0px 10px 10%;
}

.noticeboxFlare {
  width: 10px;
  flex-shrink: 0;
}

.noticeboxFlareWarn {
  background-color: var(--orange);
}

.noticeboxFlareInfo {
  background-color: var(--blue);
}

.noticeboxFlareError {
  background-color: var(--red);
}

.noticeboxImage {
  display: inline-flex;
  align-items: center;
  padding-left: 8px;
  width: 50px;
  flex-shrink: 0;
}

.noticeboxText {
  display: inline-flex;
  align-items: center;
  padding-left: 8px;
  min-width: 0;
}

@media (max-width: 500px) {
  img, video, iframe:not(.smallImage) {
    max-width: 100%;
    width: 100%;
  }

  .image:not(.smallImage), .infobox {
    float: none;
    margin: auto;
    width: 80%;
    max-width: 80%;
  }

  .galleryImage:not(.smallImage) {
    margin-left: 10%;
    margin-right: 10%;
    clear: right;
    max-width: 80%;
  }

  #Content {
    clear: right;
  }
}

#ImageExpander {
  cursor: zoom-out;
  z-index: 5;
  background-color: rgba(30, 30, 30, 0.2);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: grayscale(50%) blur(10px);
  backdrop-filter: grayscale(50%) blur(10px);
}

.PopupImg {
  cursor: default !important;
}

#ExpandedImage {
  /*max-*/width: 100%;
  /*max-*/height: 100%;
  object-fit: contain;
  opacity: 100%;
}

/* Spans */
.topText {
  font-style: italic;
  font-size: var(--font14);
  margin-left: 30px;
}

.redirectText {
  font-size: var(--font14);
  color: var(--grayLight);
  margin: 5px;
  margin-top: 0px;
  position: relative;
  top: -5px;
}

.boldText {
  font-weight: bold;
}

.italicText {
  font-style: italic;
}

.underText {
  text-decoration: underline;
}

.underDottedText {
  text-decoration: underline dotted;
}

.underErrorText {
  text-decoration: underline var(--red) wavy;
}

.strikeText {
  text-decoration: line-through;
}

.centerText {
  display: block;
  text-align: center;
}

.leftText {
  display: block;
  text-align: left;
}

.rightText {
  display: block;
  text-align: right;
}

.boxText {
  border: 1px solid var(--grayDark);
  display: block;
}

.subText {
  vertical-align: sub;
  font-size: var(--font14);
}

.supText {
  vertical-align: super;
  font-size: var(--font14);
}

.noteText {
  font-size: var(--font12);
  color: var(--linkBlue);
}

.antiItalicText {
  font-style: normal !important;
}

.codeText {
  margin-top: 1px;
  padding: 2px;
  background-color: var(--shadeDarker);
  font-family: var(--fontCode);
  border: solid var(--shadeLight) 1px;
  border-radius: 5px;
  display: inline-block;
}

/* Turn specific h5 into links */
h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.clickableh5 {
  cursor: pointer;
  display: inline-block;
}

/* Add quotes and code */
.quote {
  margin-left: 5%;
  margin-right: 5%;
}

.code {
  margin: 5px 5%;
  padding: 0px 5px;
  background-color: var(--shadeDarker);
  font-family: var(--fontCode);
  border: solid var(--white) 1px;
  border-radius: 5px;
}

/* Better-looking inputs */
input:not(.slider) {
  background-color: var(--shadeDarker);
  color: var(--white);
  font-family: var(--fontCode);
  font-size: var(--font16);
  padding: 8px;
  border: 1px solid var(--grayLight);
  border-radius: 5px;
  transition: border-color 0.3s ease,
              border-size 0.5s ease;
}

input:not(.date) {
  width: 80%;
  min-width: 150px;
}

/* Add a hover effect to the input */
input:hover:not(.slider) {
  border-color: var(--scrollColor);
}

.dragover { /* When a file is getting dragged onto a valid area */
  border-color: var(--scrollColor);
  border-width: 5px;
}

/* Focus effect for the input */
input:focus:not(.slider) {
  outline: none;
  border-color: var(--scrollColor);
  box-shadow: 0 0 5px var(--buttonColor);
}

.mediumInput {
  max-width: 500px !important;
}

.smallInput {
  min-width: 40px !important;
  max-width: 40px;
}

.date {
  max-width: 150px;
}

textarea {
  background-color: var(--shadeDarker);
  color: var(--white);
  margin-top: 3px;
  margin-bottom: 0px;
  width: 80%;
  min-width: 200px;
  font-family: var(--fontCode);
  font-size: var(--font14);
  border: 1px solid var(--grayLight);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

textarea:hover {
  border-color: var(--scrollColor);
}

textarea:focus {
  outline: none;
  border-color: var(--scrollColor);
  box-shadow: 0 0 5px var(--buttonColor);
}

#dragArea {
  position: fixed;
  top: calc(100% - 270px);
  left: calc(100% - 540px);
  z-index: 6;
  background-color: var(--black);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--white);
  display: none;
}

#dragHandle {
  cursor: grab;
  text-align: center;
  height: 20px;
  width: 100%;
  z-index: 7;
}

#dragHangle:active {
  cursor: grabbing;
}

#MovingContentInput {
  width: 500px;
  min-width: 200px;
  height: 200px;
}

button {
  background-color: var(--shadeDarker);
  color: var(--white);
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 2px;
  font-size: var(--font24);
  cursor: pointer;
  font-family: var(--fontCode);
  -webkit-user-select: none;
  user-select: none;
}

button:not(.listButton) {
  background-color: var(--shadeDarker);
  color: var(--white);
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 2px;
  font-size: var(--font24);
  cursor: pointer;
  font-family: var(--fontCode);
  border: 1px solid var(--grayLight);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

button:not(.listButton):hover {
  border-color: var(--buttonColor);
  background-color: var(--buttonColor);
  outline: none;
  box-shadow: 0 0 5px var(--buttonColor);
}

.styleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.selectedButton {
  color: var(--green) !important;
}

.buttonMargin {
  margin-right: 10px;
}

.listButton {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 80%;
  border: transparent;
  background-color: transparent;
  color: var(--linkBlue);
  font-size: var(--font14);
  text-align: left;
  /*transition: color 0.3s ease;*/
}

.listButton:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .fullListButton  {
    display: none !important;
  }
}

.tooltip {
  display: block;
  position: absolute;
  background-color: var(--black);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;
  z-index: 4;
  max-width: 420px;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 0 5px var(--white);
}

@media (max-width: 500px) { /* Make tooltips fit to screen on mobile */
  .tooltip {
    max-width: calc(100% - 20px);
    width: 100%;
    left: 10px;
  }
}

/* Customized Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--scrollColor);
  transition: border 0.5s ease;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollColor);
  transition: background 0.5s ease;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollHoverColor);
}

/* Custom slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--shadeLight);
  transition: background 0.5s ease;
  outline: none;
  margin-top: 10px;
  margin-right: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--scrollColor);
  transition: background 0.5s ease;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--scrollColor);
  transition: background 0.5s ease;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--scrollHoverColor);
}

.slider::-moz-range-thumb:hover {
  background: var(--scrollHoverColor);
}

@media (max-width: 800px) {
  .slider {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* Table styling */
.tableWrapper {
  overflow-x: auto;
}

table:not(.noTableStyle) {
  border-collapse: collapse;
  max-width: 95%;
}

@media (max-width: 800px) {
  table:not(.noTableStyle) {
    max-width: 95% !important;
  }
}

table:not(.noTableStyle) td {
  padding: 5px;
}

table:not(.noTableStyle) td:not(:last-child) {
  padding-right: 15px;
}

table:not(.noTableStyle) tr {
  background-color: var(--shadeDark);
  border-bottom: 1px solid var(--grayDark);
}

table:not(.noTableStyle) tr:nth-child(even) {
  background-color: var(--shadeNormal);
}

table:not(.noTableStyle) tr:hover {
  background-color: var(--shadeLight);
}

.highlight {
  font-weight: bold;
  color: var(--white);
}

.lowlight {
  font-weight: normal;
}

/* Achievement styling */
#Achievement {
  position: fixed;
  top: calc(100% - var(--font24) - 42px);
  right: calc(0% + 5px);
  z-index: 7;
  background-color: var(--black);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 5px var(--white);
  display: none;
  height: calc(var(--font24) + 2px);
  font-size: var(--font24);
  text-align: center;
}

#Achievement:hover {
  cursor: not-allowed;
}

/* Hide reCAPTCHA */
.grecaptcha-badge { 
    visibility: hidden !important;
}